$content_width: 930px;

.bannerBlock--position__sub{
  margin-bottom: 15px;
}
.brandList--position__sub{
  .brandList__title{
    margin-bottom: 5px;
    img{
      display: block;
    }
  }
  .brandList__content{
    ul{
      margin-bottom: 20px;
      li{
        list-style: none;
        border-bottom: 1px solid #EBEBEB;
        padding: 3px 0;
        margin-bottom: 3px;
        a{
          display: table;
          width: 100%;
          color: inherit;
          text-decoration: none;
          span{
            &.icon, &.name{
              display: table-cell;
              vertical-align: middle;
            }
            &.icon{
              width: 55px;
            }
            &.name{
              line-height: 1.5;
            }
            .en{
              font-size: 1.6em;
              &:after{
                content: '\A';
                white-space: pre;
              }
            }
            .ja{
              font-size: 10px;
              color: #878787;
            }
          }
        }
      }
    }
  }
}
.brandList--position__main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  .brandList__brand{
    width: 124px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
    a{
      display: block;
      color: inherit;
      text-decoration: none;
      img{
        display: block;
        margin-bottom: 5px;
      }
      span.en{
        &:after{
          content: '\A';
          white-space: pre;
        }
      }
    }
  }
}
.wearGuide{
  &__title{
    margin-bottom: 5px;
    img{
      display: block;
    }
  }
  &__content{
    ul{
      list-style: none;
      padding: 0 10px;
      margin-bottom: 20px;
      li{
        font-size: 1.4rem;
        border-bottom: 1px dotted #EBEBEB;
        a{
          display: block;
          color: #333;
          text-decoration: none;
          background: image_url('icon01.gif') no-repeat center left / 11px 11px;
          padding: 15px 0 15px 20px;
        }
      }
    }
  }
}
.compareWears{
  &__title{
    border-bottom: 2px solid #EBEBEB;
    margin-bottom: 13px;
    h1{
      font-size: 24px;
      color: #333;
      padding-bottom: 13px;
    }
  }
}
.otherArticles{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &:nth-child(3){
    display: none;
  }
  dl{
    width: 325px;
    box-sizing: border-box;
    border: 1px solid #CCC;
    padding: 7px 13px;
    margin-bottom: 10px;
    @for $num from 1 through 5{
      @if $num == 3{
        &:nth-child(#{$num}){
          display: none;
        }
      }
      @else{
        &:nth-child(#{$num}){
          dd{
            background-image: image_url('bg_0#{$num}.gif');
          }
        }
      }
    }
    dt{
      font-size: 18px;
      color: #333;
      border-bottom: 1px dotted #CCC;
      padding: 6px 0;
    }
    dd{
      font-size: 1.4rem;
      line-height: 1.5;
      background-repeat: no-repeat;
      background-position: top 10px right;
      background-size: 90px 90px;
      padding: 10px 110px 10px 0;
      a{
        display: block;
        background: image_url('icon01.gif') no-repeat center left / 11px 11px;
        padding-left: 20px;
        margin-top: 10px;
      }
    }
  }
}